.main{
 padding: 0;
 margin: 0;
 background-color: rgba(243, 243, 243, 0.432);
 background-image: url('images/bg.png');
 background-repeat: no-repeat;
 background-size: 100vw;
}
.header{
  flex-direction: row;
  align-items: center;
}

.title{
  margin: 0%;
  padding: 6% 8% 2% 8% ;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  line-height: 21px;　　
}
.en{
  margin: 0%;
}

@media all and (max-width: 500px) {
.en{
  display: none;
}
}
.title>.item{
  margin: 0px;
  padding: 0px 5px;
 }

 .item>img{
  width: 8vw;
 }
 @media all and (max-width: 3000px) {
  .item>img{
    width: 4vw;
   }
}
@media all and (max-width: 2000px) {
  .item>img{
    width: 8vw;
   }
}
 @media all and (max-width: 500px) {
  .item>img{
    width: 12vw;
   }
}
 .title1{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
}

.title1>.button{
  margin: 5px;
  padding: 8px;
  text-align: center;
  width:100px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(20%,20%,40%,0.5);
  font-size: 16px;
  align-items: center;
  background-color: #ffffff;
}
@media all and (max-width: 800px) {
  .title{
    font-size: 14px;
    line-height: 18px;
  }
}
@media all and (max-width: 800px) {
  .title1>.button{
    font-size: 14px;
  }
}
@media all and (max-width: 500px) {
  .title{
    font-size: 10px;
    line-height: 13px;
  }
}
@media all and (max-width: 500px) {
  .title1 {
    flex-direction: column;
    align-items:flex-end;
  }
}
@media all and (max-width: 500px) {
  .title1>.button{
    text-align: center;
    font-size: 4px;
    margin: 3px;
    padding: 5px 5px 5px 5px;
    width:80px;
    align-content: flex-end;
  }
}

.inner{
  height: 500px;
  margin: 0%;
  padding: 8px 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: space-evenly;
}

.inner>.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  padding: 20px;
  height: 80px;
  width: 340px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(133, 101, 115, 0.5);
  justify-content: space-evenly;
}

@media all and (max-width: 800px) {
  .inner>.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 240px;
    font-size: 14px;
  }
}

.inner>.card>.cardd{
  align-items: center;
  margin:10px;
}
.inner>.card>.cardd1{
  align-items: center;
  margin:10px;
}
@media all and (max-width: 800px) {
.inner>.card>.cardd1{
  align-items: center;
  margin:10px;
}
}
@media all and (max-width: 800px) {
 .cardd1>img{
   width: 6vw;
  }
  }
  @media all and (max-width: 500px) {
    .cardd1>img{
      width: 9vw;
     }
     }